<script setup>
import { ref, computed } from "vue";
import { useStore } from "vuex";
import { formatCurrency } from "../utils/helper";

const store = useStore();

// Use mapGetters to directly map getters to local variables
const { getProducts, getCategories } = store.getters;
const filter = ref({ category_id: "all" });

// Use computed to directly compute the filtered products
const filteredProducts = computed(() => getProducts(filter.value));

// Function to set the category filter
const setFilter = (categoryId) => {
  filter.value.category_id = categoryId;
};
</script>

<template>
  <!-- Categories section -->
  <el-scrollbar class="scroll">
    <div class="categories">
      <!-- All category -->
      <el-card
        :class="{ active: filter.category_id === 'all' }"
        @click="setFilter('all')"
        class="category"
        shadow="never"
      >
        All
      </el-card>

      <!-- Loop through categories and display each category -->
      <el-card
        v-for="category in getCategories"
        :key="category.id"
        :class="{ active: filter.category_id === category.id }"
        @click="setFilter(category.id)"
        class="category"
        shadow="never"
      >
        {{ category.name }}
      </el-card>
    </div>
  </el-scrollbar>

  <!-- Products section -->
  <el-row :gutter="10">
    <!-- Loop through filtered products and display each product -->
    <el-col :span="6" v-for="product in filteredProducts" :key="product.id">
      <el-card
        :class="{ disabled: product.remainder < 1 }"
        @click="store.dispatch('addToCart', product)"
        class="product-card"
        shadow="never"
      >
        <!-- Product details -->
        <p class="text">{{ product.name }}</p>
        <b class="text"> {{ formatCurrency(product.cost) }} UZS </b>
        <p class="text">
          Remained in store: <b>{{ product.remainder }}</b>
        </p>
      </el-card>
    </el-col>
  </el-row>
</template>

<style scoped>
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.categories {
  display: flex;
}
.category {
  font-size: 20px;
  user-select: none;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(25% - 10px);
  height: 150px;
  margin-left: 13px;
  border-radius: 4px;
  background: var(--el-color-primary);
  color: var(--el-color-white);
  border: none;
}
.category:first-child {
  margin-left: 0px;
}
.category.active {
  background: var(--el-color-success);
}
.scroll {
  height: 160px;
}
.product-card {
  font-size: 20px;
  user-select: none;
  cursor: pointer;
  margin-bottom: 10px;
}
.product-card .text {
  margin-bottom: 10px;
  display: block;
}
.product-card .text:last-child {
  margin-bottom: 0;
}
</style>
