<script setup>
import { ref, computed } from "vue";
import { ArrowLeft } from "@element-plus/icons-vue";
import { useStore } from "vuex";
import { formatCurrency } from "../utils/helper";

const store = useStore();

// Array of numbers for payment input
const numbers = ["1", "2", "3", "4", "5", "6", "7", "8", "9", ".", "0"];

// Payment input
const payment = ref("");

// Computed properties for overall cost, discount, and amount
const overallCost = computed(() => store.getters["getOverallCost"]);
const overallDiscount = computed(() => store.getters["getOverallDiscount"]);
const overallAmount = computed(() => store.getters["getOverallAmount"]);

const payModal = ref(false);

const clearCart = () => {
  payment.value = "";
  store.dispatch("clearCart");
};
</script>

<template>
  <el-dialog v-model="payModal" title="Payment" width="30%">
    <p style="font-size: 20px">
      Change: <b>{{ formatCurrency(payment - overallCost) }} UZS</b>
    </p>
    <template #footer>
      <span class="dialog-footer">
        <el-button size="large" @click="payModal = false">Cancel</el-button>
        <el-button
          size="large"
          type="primary"
          @click="
            clearCart();
            payModal = false;
          "
        >
          Confirm
        </el-button>
      </span>
    </template>
  </el-dialog>

  <!-- Payment wrapper -->
  <el-row class="payment-wrapper" :gutter="30">
    <!-- Summary column -->
    <el-col class="summary bg-white" :span="8">
      <!-- Overall descriptions -->
      <el-descriptions size="large" :column="1" direction="vertical">
        <!-- Title -->
        <template #title>
          <p style="font-size: 28px">Overall</p>
        </template>
        <!-- Total sum -->
        <el-descriptions-item label=" sum">
          <template #label>
            <p style="font-size: 16px">Total</p>
          </template>
          <b style="font-size: 22px"> {{ formatCurrency(overallCost) }} UZS </b>
        </el-descriptions-item>
        <!-- Discount -->
        <el-descriptions-item label="">
          <template #label>
            <p style="font-size: 16px">Discount</p>
          </template>
          <b style="font-size: 22px">
            {{ formatCurrency(overallDiscount) }} UZS
          </b>
        </el-descriptions-item>
        <!-- Number of products -->
        <el-descriptions-item label="">
          <template #label>
            <p style="font-size: 16px">Products</p>
          </template>
          <b style="font-size: 22px"> {{ overallAmount }} piece </b>
        </el-descriptions-item>
      </el-descriptions>
    </el-col>

    <!-- Payment input column -->
    <el-col :span="16">
      <el-input
        class="payment-input"
        size="large"
        placeholder="Enter the payment amount:"
        v-model="payment"
        :formatter="(value) => formatCurrency(value)"
        :parser="(value) => value.replaceAll(' ', '')"
      />

      <!-- Number buttons row -->
      <el-row class="buttons">
        <!-- Number buttons -->
        <el-col
          class="button_column"
          :span="8"
          v-for="(number, index) in numbers"
          :key="index"
        >
          <el-button @click="payment += number" class="button" size="large">{{
            number
          }}</el-button>
        </el-col>

        <!-- Backspace button -->
        <el-col class="button_column" :span="8">
          <el-button
            @click="payment = payment?.slice(0, -1)"
            class="button"
            size="large"
            :icon="ArrowLeft"
          ></el-button>
        </el-col>
      </el-row>
    </el-col>
    <el-col :span="24" class="payment_button">
      <el-button @click="payModal = true" size="large" type="success"
        >Pay</el-button
      >
    </el-col>
    <!-- <el-col :span="24"> </el-col> -->
  </el-row>
</template>

<style>
.payment_button {
  padding-top: 15px;
  padding-left: 0 !important;
}
.payment_button .el-button {
  width: 100%;
  padding: 40px;
  font-size: 30px;
}
.bg-white {
  background-color: var(--el-color-white);
  border-radius: 4px;
}

.payment-input {
  margin-bottom: 10px;
  font-size: 30px;
}

.payment-input .el-input__wrapper {
  padding: 40px 20px;
}

.button {
  width: 100%;
  border-radius: 0;
  font-size: 30px;
  padding: 40px 0;
}

.payment-wrapper {
  max-width: 1000px;
  margin: 0 auto !important;
  height: max-content;
}
</style>
