<template>
  <el-breadcrumb separator-class="el-icon-arrow-right">
    <!-- Loop through breadcrumbs and create breadcrumb items -->
    <el-breadcrumb-item
      v-for="(breadcrumb, index) in breadcrumbs"
      :key="index"
      :to="breadcrumb.to"
    >
      {{ breadcrumb.text }}
    </el-breadcrumb-item>
  </el-breadcrumb>
</template>

<script>
import { useBreadcrumbs } from "../composition/useBreadcrump";

export default {
  setup() {
    // Use the useBreadcrumbs composition function to get breadcrumb data and navigation functions
    const { breadcrumbs, navigateBack } = useBreadcrumbs();

    return {
      breadcrumbs, // Expose breadcrumbs to the template
      navigateBack, // Expose navigateBack function to the template
    };
  },
};
</script>

<style>
.el-breadcrumb__inner {
  font-size: 16px;
}
</style>
