<script setup>
import router from "../router/index";
import { ref, computed } from "vue";
import { useStore } from "vuex";
import { Discount, Delete } from "@element-plus/icons-vue";
import { formatCurrency } from "../utils/helper";

const overallCost = computed(() => store.getters["getOverallCost"]);
const overallDiscount = computed(() => store.getters["getOverallDiscount"]);
const overallAmount = computed(() => store.getters["getOverallAmount"]);
const totalDiscount = computed(() => store.getters["totalDiscount"]);
const products = computed(() => store.getters["getAddedProducts"]);

const store = useStore();
const activeProduct = ref();
const discountVisible = ref(false);
const discountTarget = ref();
const discountPercent = ref(0);

// Function to determine the row class for highlighting the active product
const tableRowClassName = ({ row }) =>
  row.id === activeProduct.value?.id ? "activeRow" : "";

// Function to calculate the overall price of a product considering discounts
const overallPrice = (row) =>
  (row.cost - row.cost * (row.discount / 100)) * row.amount;

const addDiscount = () => {
  store.dispatch("addDiscount", {
    target: discountTarget.value,
    discount: discountPercent.value,
  });
  discountVisible.value = false;
};

const removeProduct = () => {
  store.dispatch("removeFromCart", activeProduct.value);
  activeProduct.value = {};
};
</script>

<template>
  <!-- Discount dialog -->
  <el-dialog v-model="discountVisible" title="Discount" width="30%">
    {{
      discountTarget === "all"
        ? "Total discount"
        : `Discount to ${store.getters.getFromCart(discountTarget).name}`
    }}
    <el-input-number
      v-model="discountPercent"
      :min="1"
      :max="100"
      :controls="false"
    />
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="discountVisible = false">Cancel</el-button>
        <el-button type="primary" @click="addDiscount()"> Confirm </el-button>
      </span>
    </template>
  </el-dialog>

  <!-- Cart section -->
  <div class="cart-wrapper">
    <div class="table">
      <!-- Product table -->
      <el-table
        size="large"
        :row-class-name="tableRowClassName"
        :data="products"
        @row-click="(row) => (activeProduct = row)"
        style="width: 100%"
      >
        <!-- Table columns -->
        <el-table-column prop="name" label="Name" width="auto" />
        <el-table-column prop="amount" label="Amount" width="auto" />
        <el-table-column prop="cost" label="Cost">
          <template #default="scope">
            <p>{{ formatCurrency(scope.row.cost) }}</p>
          </template>
        </el-table-column>
        <el-table-column label="Overall">
          <template #default="scope">
            <p>{{ formatCurrency(overallPrice(scope.row)) }}</p>
          </template>
        </el-table-column>
      </el-table>

      <!-- Editor section for active product -->
      <div class="editor" v-if="activeProduct?.id">
        <el-row style="margin-bottom: 10px" :gutter="20">
          <!-- Discount badge and button -->
          <el-col :span="3">
            <el-badge
              style="width: 100%"
              :value="activeProduct.discount"
              class="item"
            >
              <el-button
                style="width: 100%"
                size="large"
                @click="
                  discountTarget = activeProduct.id;
                  discountVisible = true;
                "
                type="primary"
                :icon="Discount"
              />
            </el-badge>
          </el-col>

          <!-- Input number for adjusting the product amount -->
          <el-col :span="18">
            <el-input-number
              size="large"
              style="width: 100%"
              v-model="activeProduct.amount"
              :min="1"
              :max="activeProduct.remainder > 1 ? activeProduct.remainder : 1"
            />
          </el-col>

          <!-- Button to remove the product -->
          <el-col :span="3">
            <el-button
              size="large"
              style="width: 100%"
              @click="removeProduct"
              type="danger"
              :icon="Delete"
            />
          </el-col>
        </el-row>

        <!-- Remaining stock information -->
        <p>
          Remaining in store: <b>{{ activeProduct.remainder }}</b>
        </p>
      </div>
    </div>

    <!-- Summary section -->
    <div class="summary">
      <!-- Overall descriptions -->
      <el-descriptions size="large" :column="1" direction="horizontal">
        <!-- Title -->
        <template #title>
          <p style="font-size: 24px">Overall</p>
        </template>

        <!-- Total sum -->
        <el-descriptions-item label=" sum">
          <template #label>
            <p style="font-size: 16px">Total</p>
          </template>
          <b style="font-size: 18px">{{ formatCurrency(overallCost) }} UZS</b>
        </el-descriptions-item>

        <!-- Discount -->
        <el-descriptions-item label="">
          <template #label>
            <p style="font-size: 16px">Discount</p>
          </template>
          <b style="font-size: 18px"
            >{{ formatCurrency(overallDiscount) }} UZS</b
          >
        </el-descriptions-item>

        <!-- Number of products -->
        <el-descriptions-item label="">
          <template #label>
            <p style="font-size: 16px">Products</p>
          </template>
          <b style="font-size: 18px">{{ overallAmount }} piece</b>
        </el-descriptions-item>
      </el-descriptions>

      <!-- Buttons for total discount and payment -->
      <el-row :gutter="20" class="buttons">
        <!-- Button for total discount -->
        <el-col :span="12">
          <el-badge size="large" style="width: 100%" :value="totalDiscount">
            <el-button
              class="cart-button"
              @click="
                discountVisible = true;
                discountTarget = 'all';
              "
              size="large"
              >Total discount</el-button
            >
          </el-badge>
        </el-col>

        <!-- Button for payment -->
        <el-col :span="12">
          <el-button
            class="cart-button"
            @click="router.push('/payment')"
            type="success"
            size="large"
            >Payment</el-button
          >
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<style>
.cart-button {
  padding: 30px;
  font-size: 20px;
  width: 100%;
  margin: 0;
}
.activeRow {
  --el-table-tr-bg-color: var(--el-color-primary-light-8);
}
.editor {
  padding: 10px;
  background-color: var(--el-color-primary-light-8);
}
.summary {
  background-color: var(--el-color-info-light-8);
  padding: 20px;
}
.cart-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.table {
  flex-grow: 1;
}
.summary .el-descriptions__body {
  background-color: transparent;
}
.summary .el-descriptions__cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
