<script setup>
import Cart from "../components/cart.vue";
import Breadcrumbs from "../components/breadCrump.vue";

// No need to import ref and Search, as they are not used in this script setup

// You can remove the commented-out ref and Search import

// const search = ref("");
</script>

<template>
  <el-container>
    <!-- Main container -->
    <el-container class="main-container">
      <!-- Header -->
      <el-header class="header">
        <img src="../assets/logo.png" alt="Google logo" class="logo" />
        <!-- Search input (commented out, as it's not currently used) -->
        <!-- <el-input
          v-model="search"
          class="search"
          placeholder="Mahsulot kodini kiriting"
          :prefix-icon="Search"
        /> -->
      </el-header>

      <!-- Breadcrumb section -->
      <div class="breadcrumb">
        <Breadcrumbs />
      </div>

      <!-- Main content -->
      <el-main class="main">
        <RouterView />
      </el-main>
    </el-container>

    <!-- Cart section (aside) -->
    <el-aside width="35%">
      <Cart />
    </el-aside>
  </el-container>
</template>

<style>
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  padding: 20px 40px;
  background-color: var(--el-color-primary-light-3);
}

.logo {
  display: block;
  max-width: 150px;
}

/* Styles for the search input (commented out, as it's not currently used) */
/*.search {
  max-width: 300px;
}*/

.breadcrumb {
  background-color: var(--el-color-primary-light-5);
  padding: 20px 20px;
  color: var(--white);
}

.el-breadcrumb__inner {
  color: var(--white);
}

.main {
  background-color: var(--el-color-primary-dark-2);
  height: max-content;
}

.main-container {
  min-height: 100vh;
}
</style>
